@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Tilt+Neon&display=swap');

// William & Gabriel
$main-hover-color: #ff0000;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: 'Tilt Neon', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: #870000;
    background: -webkit-linear-gradient(to right, #870000, #190A05, #870000);
    background: linear-gradient(to right, #870000, #190A05, #870000);
}

body {
    color: #333;
}

.win-container {
    display: none;
    position: absolute;
    top: 20%;
    left: 25%;
    @include flex-center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background-color: #000000e8;
    border-radius: 20px;
    border: 2px solid $main-hover-color;
    box-shadow: 0 0 10px $main-hover-color;

    h1 {
        color: rgb(255, 255, 255);
        font-size: 3rem;
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1.5rem;
        background-color: #fff;
        border: none;
        border-radius: 5px;
        transition-duration: 0.3s;

        &:hover {
            cursor: pointer;
            color: white;
            scale: 1.05;
            background: black;
            border: 2px solid $main-hover-color;
            box-shadow: 0 0 10px $main-hover-color;
        }

    }
}

.main-container {
    @include flex-center;
    width: 100%;
    height: 100dvh;
    overflow: hidden;

    .player-container {
        margin: 0 auto;
        width: 100%;
        @include flex-center;
        transition: all 0.75s;
        text-align: center;
        height: 100%;


        .player {
            width: 100%;
            height: 50%;
        }
    }


    .name {
        font-size: 2.1rem;
    }

    .player-wrapper {
        @include flex-center;
        flex-direction: column;
        margin: 0 auto;
        background-color: #000000;
        padding: 100px;
        width: 65%;
        height: 100%;
        border-radius: 15px;
        color: #fff;
        border: 2px solid #870000;
        text-align: center;
        transition-duration: 0.4s;

        #total-points {
            font-size: 3rem;
        }

        .current-label {
            text-transform: uppercase;
            margin-bottom: 1rem;
            font-size: 1.7rem;
            color: white;
            padding: 1rem;
        }

        .current-score {
            font-size: 2rem;
            padding: 1rem;
        }

    }

    .buttons-wrapper {
        @include flex-center;
        margin-top: 200px;
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .btn {
        transition-duration: 0.3s;
        background-color: #fff;
        border: none;
        padding: 20px 50px;
        font-size: 1.5rem;
        border-radius: 5px;
        margin: 10px;

        &:hover {
            cursor: pointer;
            color: white;
            scale: 1.05;
            background: black;
            border: 2px solid $main-hover-color;
            box-shadow: 0 0 10px $main-hover-color;
        }
    }

    #main-button-new-game {
        top: 70%;
    }

    #main-button-roll {
        top: 45%;
    }

    #main-button-hold {
        top: 55%;
    }

    .dice {
        position: absolute;
        top: 15%;
        height: 10rem;
        // animation: spinDice 0.75s infinite linear;
    }

    .hidden {
        display: none;
    }
}


@media screen and (max-width: 1300px) {
    .main-container {
        .player-container {
            @include flex-center();
            align-items: center;
            justify-content: space-evenly;
            text-align: center;

            .player {
                @include flex-center();
                height: auto;
                width: 30%;
            }
        }

        .player-wrapper {
            @include flex-center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0px;
            margin: 0px;
            width: 96%;


            .current-label {
                font-size: 1.2rem;
            }

            #total-points {
                font-size: 2rem;
            }

            .current-score {
                font-size: 1.5rem;
            }
        }

        .player {
            width: 100%;
        }


        .name {
            font-size: 2rem;
        }

        .buttons-wrapper {
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            .btn{
                padding: 10px 20px;
                font-size: 1.4rem;
            }
        }

        .dice {
            top: 5%;
            height: 7rem;
        }
    }

    .win-container {
        width: 80%;
        height: 80%;
        top: 10%;
        left: 10%;

        h1 {
            font-size: 2rem;
        }

        button {
            padding: 10px 20px;
            font-size: 1.2rem;
        }
    }
}


@keyframes spinDice {
    0% {
        transform: rotate(0deg);
        scale: 1.0;
    }

    50% {
        transform: rotate(180deg);
        scale: 1.2;
    }

    100% {
        transform: rotate(360deg);
        scale: 1.0;
    }
}

@keyframes winPopup {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        opacity: 1;
    }
}